@import url(http://fonts.googleapis.com/css?family=Lato:400,700italic);
* { padding: 0; margin: 0; }
body { background: #f1fffc; 
    font-family: 'Lato', sans-serif;
     text-transform: uppercase;
      letter-spacing: 1px;}

header {
  display: table;
  padding: 1em 2%;
  background: #3d4c66;
  color: #f2f2f2;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a { 
    text-decoration: none;
    color: white;
   } 
header a:hover{
    color: #ffe;
    background-color: #3fbb96;
}

header nav,
header div { 
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  height: 2em;
}

header nav {
  text-align: right;
}

content div{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 150px;
    vertical-align: middle;
    display: center;
    font-size: 20px;
    text-align: justify;
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 720px){
       header {
        height: auto;
     }
    
     header > div,
     header > div h1,
     header nav {
        height: auto;
        width: auto;
        display: block;
        text-align: center;
    }
}

